In [25]:
from opd.session import Session

In [12]:
s = Session("metadata.json")

In [13]:
s.stat_table

,frame,timestamp,obj1_id,obj2_id,obj1_type,obj2_type,x1,y1,x2,y2,distance,speed
0,302.0,2022-03-23 00:00:20.133333,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,39.708894,36.883011,11.378783,-55.005309,96.156427,NaN
0,303.0,2022-03-23 00:00:20.200000,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,39.040946,37.506510,10.747732,-55.216486,96.943592,11.807417
0,304.0,2022-03-23 00:00:20.266667,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,38.568721,37.792036,10.086290,-55.444793,97.490281,8.200301
0,305.0,2022-03-23 00:00:20.333333,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,38.456043,38.407642,9.487711,-55.806435,98.567017,16.151188
0,306.0,2022-03-23 00:00:20.400000,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,37.853060,35.862219,9.047253,-55.917374,96.193909,-35.596433
...,...,...,...,...,...,...,...,...,...,...,...,...
0,1430.0,2022-03-23 00:01:35.333333,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.564116,-56.112702,-16.557571,-47.227695,26.646622,27.926695
0,1431.0,2022-03-23 00:01:35.400000,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.561094,-56.109464,-17.034366,-47.462581,27.016591,5.549500
0,1432.0,2022-03-23 00:01:35.466667,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.555995,-56.104279,-17.662678,-47.337027,27.645678,9.436265
0,1433.0,2022-03-23 00:01:35.533333,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.562222,-56.110378,-18.588459,-47.298547,28.544839,13.487551
0,1434.0,2022-03-23 00:01:35.600000,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.563611,-56.113359,-23.526897,-43.525889,34.470931,88.890928

In [14]:
s.min_time

'2022-03-23T00:00:00.066667'

In [15]:
s.max_time

'2022-03-23T00:01:45.266667'

In [7]:
s.get_distances(307)

defaultdict(<function opd.session.Session.get_distances.<locals>.<lambda>()>,
            {})

In [16]:
s.get_distances(337)

defaultdict(<function opd.session.Session.get_distances.<locals>.<lambda>()>,
            {('197c0e2976244a6088ae2944e91b68e3',
              '1195b2132bda43838666e5b699b3951d'): 54.20453985066529,
             ('197c0e2976244a6088ae2944e91b68e3',
              '499b5e7226d9426fab3617f4157af980'): 9.572832228352153})

In [17]:
s.get_distances(337,2)

defaultdict(<function opd.session.Session.get_distances.<locals>.<lambda>()>,
            {('197c0e2976244a6088ae2944e91b68e3',
              '1195b2132bda43838666e5b699b3951d'): 49.105328324547386,
             ('197c0e2976244a6088ae2944e91b68e3',
              '499b5e7226d9426fab3617f4157af980'): 16.276839499553503})

In [51]:
df = s.stat_table

In [19]:
df.shape

(452, 12)

In [20]:
set(df['obj2_type'])

{'forklift', 'person'}

In [21]:
df.shape

(452, 12)

In [22]:
search = (df['obj1_id'] == "1195b2132bda43838666e5b699b3951d") &  (df["obj2_id"] == "499b5e7226d9426fab3617f4157af980")

In [23]:
x = float(df[search].iloc[[-1]]['distance'])
x

75.93274994017251

In [24]:
s.detections['1195b2132bda43838666e5b699b3951d']

In [43]:
import json
import pandas as pd

In [75]:
df_in = pd.read_json("metadata.json")
# df = s.stat_table

In [63]:
df

,frame,timestamp,obj1_id,obj2_id,obj1_type,obj2_type,x1,y1,x2,y2,distance,speed
0,302.0,2022-03-23 00:00:20.133333,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,39.708894,36.883011,11.378783,-55.005309,96.156427,NaN
0,303.0,2022-03-23 00:00:20.200000,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,39.040946,37.506510,10.747732,-55.216486,96.943592,11.807417
0,304.0,2022-03-23 00:00:20.266667,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,38.568721,37.792036,10.086290,-55.444793,97.490281,8.200301
0,305.0,2022-03-23 00:00:20.333333,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,38.456043,38.407642,9.487711,-55.806435,98.567017,16.151188
0,306.0,2022-03-23 00:00:20.400000,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,37.853060,35.862219,9.047253,-55.917374,96.193909,-35.596433
...,...,...,...,...,...,...,...,...,...,...,...,...
0,1430.0,2022-03-23 00:01:35.333333,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.564116,-56.112702,-16.557571,-47.227695,26.646622,27.926695
0,1431.0,2022-03-23 00:01:35.400000,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.561094,-56.109464,-17.034366,-47.462581,27.016591,5.549500
0,1432.0,2022-03-23 00:01:35.466667,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.555995,-56.104279,-17.662678,-47.337027,27.645678,9.436265
0,1433.0,2022-03-23 00:01:35.533333,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.562222,-56.110378,-18.588459,-47.298547,28.544839,13.487551
0,1434.0,2022-03-23 00:01:35.600000,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.563611,-56.113359,-23.526897,-43.525889,34.470931,88.890928

In [64]:
df_in

,camera_id,frame_id,detections,timestamp
0,1844301081CA120900,1,"[{'id': '2bd635dbcc2e4acfb93a55c7492b681c', 'c...",2022-03-23 00:00:00.066667
1,1844301081CA120900,2,"[{'id': '2bd635dbcc2e4acfb93a55c7492b681c', 'c...",2022-03-23 00:00:00.133333
2,1844301081CA120900,3,"[{'id': '2bd635dbcc2e4acfb93a55c7492b681c', 'c...",2022-03-23 00:00:00.200000
3,1844301081CA120900,4,"[{'id': '2bd635dbcc2e4acfb93a55c7492b681c', 'c...",2022-03-23 00:00:00.266667
4,1844301081CA120900,5,"[{'id': '2bd635dbcc2e4acfb93a55c7492b681c', 'c...",2022-03-23 00:00:00.333333
...,...,...,...,...
1574,1844301081CA120900,1575,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:45.000000
1575,1844301081CA120900,1576,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:45.066667
1576,1844301081CA120900,1577,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:45.133333
1577,1844301081CA120900,1578,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:45.200000
1578,1844301081CA120900,1579,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:45.266667

In [70]:
df_out = pd.merge(df_in, df, left_on='frame_id', right_on='frame', how='outer')

In [74]:
# to visualize outer merge on matching values (drop NaN values)
df_out.dropna()

,camera_id,frame_id,detections,timestamp_x,frame,timestamp_y,obj1_id,obj2_id,obj1_type,obj2_type,x1,y1,x2,y2,distance,speed
302,1844301081CA120900,303,"[{'id': '1195b2132bda43838666e5b699b3951d', 'c...",2022-03-23 00:00:20.200000,303.0,2022-03-23 00:00:20.200000,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,39.040946,37.506510,10.747732,-55.216486,96.943592,11.807417
303,1844301081CA120900,304,"[{'id': '1195b2132bda43838666e5b699b3951d', 'c...",2022-03-23 00:00:20.266667,304.0,2022-03-23 00:00:20.266667,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,38.568721,37.792036,10.086290,-55.444793,97.490281,8.200301
304,1844301081CA120900,305,"[{'id': '1195b2132bda43838666e5b699b3951d', 'c...",2022-03-23 00:00:20.333333,305.0,2022-03-23 00:00:20.333333,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,38.456043,38.407642,9.487711,-55.806435,98.567017,16.151188
305,1844301081CA120900,306,"[{'id': '1195b2132bda43838666e5b699b3951d', 'c...",2022-03-23 00:00:20.400000,306.0,2022-03-23 00:00:20.400000,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,37.853060,35.862219,9.047253,-55.917374,96.193909,-35.596433
306,1844301081CA120900,307,"[{'id': '1195b2132bda43838666e5b699b3951d', 'c...",2022-03-23 00:00:20.466667,307.0,2022-03-23 00:00:20.466667,1195b2132bda43838666e5b699b3951d,499b5e7226d9426fab3617f4157af980,forklift,forklift,37.179299,34.619247,8.634324,-56.120598,95.123788,-16.051733
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1475,1844301081CA120900,1430,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:35.333333,1430.0,2022-03-23 00:01:35.333333,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.564116,-56.112702,-16.557571,-47.227695,26.646622,27.926695
1476,1844301081CA120900,1431,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:35.400000,1431.0,2022-03-23 00:01:35.400000,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.561094,-56.109464,-17.034366,-47.462581,27.016591,5.549500
1477,1844301081CA120900,1432,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:35.466667,1432.0,2022-03-23 00:01:35.466667,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.555995,-56.104279,-17.662678,-47.337027,27.645678,9.436265
1478,1844301081CA120900,1433,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:35.533333,1433.0,2022-03-23 00:01:35.533333,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.562222,-56.110378,-18.588459,-47.298547,28.544839,13.487551
1479,1844301081CA120900,1434,"[{'id': '499b5e7226d9426fab3617f4157af980', 'c...",2022-03-23 00:01:35.600000,1434.0,2022-03-23 00:01:35.600000,499b5e7226d9426fab3617f4157af980,630f114f1d7e45808606a3ef82ced639,forklift,forklift,8.563611,-56.113359,-23.526897,-43.525889,34.470931,88.890928

In [76]:
result = df_out.to_json(orient='split')
parsed = json.loads(result)

with open("event_metadata.json",'w') as f:
    json.dump(parsed, f)